.header-search,
nav,
.header-cart,
.header-callback,
.pager,
form,
.footer-right,
.bottom-item-all,
.article-ctrl-likes,
.article-ctrl-back,
.slider,
.main-best-skype,
.main-categories,
.item-social,
.item-cart,
.item-skype,
.item-delivery-link,
.item-back,
.window {display:none}

.item-delivery-text {display:block; position:relative; left:0; top:0}

.main {margin:0}

header,
.container {background:none}

.header-inner {height:150px}

.container {padding:0}

a,
.catalogue-name {text-decoration:none; color:#000}